<div>
  <div class="header">{{ title() }}</div>
  <div class="chat-container">
    <div class="messages">
      @for(msg of messages(); track msg){
        <div class="message-row" [ngClass]="msg.sender">
          @if(msg.sender === 'bot' && msg.text.length === 0) {
            <div class="message-row" *ngIf="msg.sender === 'bot' && msg.text.length === 0">
              <div class="icon icon-bot">
                <i class="fas fa-robot fa-flip-horizontal"></i>
              </div>
              <div class="chat-bubble chat-bubble-bot bot-typing typing-indicator">
                <span></span>
                <span></span>
                <span></span>
              </div>
            </div>
          } @else {
          <div *ngIf="msg.text.length !==0" class="icon" [ngClass]="{'icon-user': msg.sender === 'user', 'icon-bot': msg.sender === 'bot'}">
            <i *ngIf="msg.sender === 'bot'" class="fas fa-robot fa-flip-horizontal"></i>
            <i *ngIf="msg.sender === 'user'" class="fas fa-user"></i>
          </div>
          <div *ngIf="msg.text.length !==0" class="chat-bubble" style="white-space: pre-wrap;" [ngClass]="{'chat-bubble-user': msg.sender === 'user', 'chat-bubble-bot': msg.sender === 'bot'}">
            {{ msg.text }}
          </div>
        }
        </div>
      }
    </div>
    <form (ngSubmit)="sendMessage()">
      <input [(ngModel)]="userInput" name="userInput" required autocomplete="off" placeholder="Type your message...">
      <button type="submit">Send</button>
    </form>
  </div>
</div>

